
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Administración</h2>

<h6><a href="@Url.Action("Index", "AdminStocks")">Stocks</a></h6>
<h6><a href="@Url.Action("Index", "AdminStockTypes")">StockTypes</a></h6>
<h6><a href="@Url.Action("Index", "AdminStockQuotes")">StockQuotes</a></h6>
<br />
<h6><a href="@Url.Action("Index", "AdminMarkets")">Markets</a></h6>
<h6><a href="@Url.Action("Index", "AdminMarketIndexes")">MarketIndexes</a></h6>
<h6><a href="@Url.Action("Index", "AdminMarketIndexStocks")">MarketIndexStocks</a></h6>
<br />
<h6><a href="@Url.Action("Index", "AdminHolidays")">Holidays</a></h6>
<br />
<h6><a href="@Url.Action("Index", "AdminConfigs")">Configs</a></h6>
<br />
<h6><a href="@Url.Action("Index", "AdminTenants")">Tenants</a></h6>
<br />
<h6><a href="@Url.Action("Index", "AdminReports")">Reports</a></h6>
<h6><a href="@Url.Action("Index", "AdminReportTypes")">ReportTypes</a></h6>


