<div class="row" style="background-color: rgb(45,45,45);height:100px;">
    <div class="container">
        <div class="col-lg-3 text-center" style="padding-top:30px;">
            <img src="~/Images/logo/white_word.png" style="height:25px;width:50%;"/>
        </div>
        <div class="col-lg-3 text-center" style="padding-top:8px;">
            <p style="margin-bottom:0px;"><a href="@Url.Action("About","WhoWeAre")" style="color:#ffffff;font-size:1.3em;font-family:lato;">Acerca</a></p>
            <p style="margin-bottom:0px;"><a href="@Url.Action("Index","Home")#vcssServices" style="color:#ffffff;font-size:1.3em;font-family:lato;">Servicios</a></p>
            <p style="margin-bottom:0px;"><a href="http://viciouss.com/news/" style="color:#ffffff;font-size:1.3em;font-family:lato;">Noticias</a></p>
        </div>
        <div class="col-lg-3 text-center" style="padding-top:8px;">
            <p style="margin-bottom:0px;"><a href="@Url.Action("Index","Quotes")" style="color:#ffffff;font-size:1.3em;font-family:lato;">Cotizaciones</a></p>
            <p style="margin-bottom:0px;"><a href="@Url.Action("Rates","Home")" style="color:#ffffff;font-size:1.3em;font-family:lato;">Suscripciones</a></p>
            <p style="margin-bottom:0px;"><a href="@Url.Action("Contact","Home")" style="color:#ffffff;font-size:1.3em;font-family:lato;">Contacto</a></p>
        </div>
        <div class="col-lg-3 text-center" style="padding-top:8px;">
            <p style="margin-bottom:0px;"><a href="@Url.Action("Login","User")" style="color:#ffffff;font-size:1.3em;font-family:lato;">Login</a></p>
            <p style="margin-bottom:0px;"><a href="@Url.Action("Register","User")" style="color:#ffffff;font-size:1.3em;font-family:lato;">Registro de Usuario</a></p>
            <p style="margin-bottom:0px;"><a href="@Url.Action("FAQs","WhoWeAre")" style="color:#ffffff;font-size:1.3em;font-family:lato;">Preguntas Frecuentes</a></p>
        </div>
    </div>
</div>
