@model ctaWEB.Models.AdminModels.AdminMarketIndexStockModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AdminMarketIndexStockModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminMarketIndexModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marketindex_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminStocksModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock_symbol)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
